---
title: "Python Data Analysis for Healthcare - Note 2"
author: "SEOYEON CHOI"
date: "2025-06-04"
---

In [4]:
import pandas as pd

In [5]:
df_visit = pd.read_csv("../../../delete/Demo Patient Experience Data_NHC.csv")
df_visit

,Unnamed: 0,Entry Code,Feedback Date,Patient Age,Staff Rating,Speed Rating,Wait Time (minutes),Test Type,Review
0,0,1,2022-10-22,61,5,3,29,Urine Test,I couldn't have asked for better service from ...
1,1,2,2022-01-12,26,3,4,171,Biopsy,I'm indifferent about the service provided by ...
2,2,3,2022-04-06,53,3,5,176,Urine Test,My experience with the staff was neither good ...
3,3,4,2022-12-11,40,4,5,94,CT Scan,"I might consider returning for future tests, b..."
4,4,5,2022-10-31,96,2,1,165,Biopsy,"The service was poor, there are serious improv..."
...,...,...,...,...,...,...,...,...,...
19995,19995,19996,2022-09-01,34,3,2,128,CT Scan,"It was okay, the staff's performance was nothi..."
19996,19996,19997,2022-05-26,80,2,4,84,Blood Test,"I was quite disappointed, and there is a lot o..."
19997,19997,19998,2022-11-01,60,2,1,76,Ultrasound,"I was quite disappointed, and there is a lot o..."
19998,19998,19999,2022-10-09,62,1,5,16,Biopsy,There are no redeeming qualities about the ser...
19999,19999,20000,2022-02-16,13,5,1,86,Ultrasound,The staff's expertise and dedication made my v...

In [6]:
df_visit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           20000 non-null  int64
 1   Entry Code           20000 non-null  int64
 2   Feedback Date        20000 non-null  object
 3   Patient Age          20000 non-null  int64
 4   Staff Rating         20000 non-null  int64
 5   Speed Rating         20000 non-null  int64
 6   Wait Time (minutes)  20000 non-null  int64
 7   Test Type            20000 non-null  object
 8   Review               20000 non-null  object
dtypes: int64(6), object(3)
memory usage: 1.4+ MB

In [7]:
df_visit.isna()

,Unnamed: 0,Entry Code,Feedback Date,Patient Age,Staff Rating,Speed Rating,Wait Time (minutes),Test Type,Review
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
19995,False,False,False,False,False,False,False,False,False
19996,False,False,False,False,False,False,False,False,False
19997,False,False,False,False,False,False,False,False,False
19998,False,False,False,False,False,False,False,False,False
19999,False,False,False,False,False,False,False,False,False

결측값 확인

In [8]:
df_visit.isna().sum()

Unnamed: 0             0
Entry Code             0
Feedback Date          0
Patient Age            0
Staff Rating           0
Speed Rating           0
Wait Time (minutes)    0
Test Type              0
Review                 0
dtype: int64

결측값 갯수 확인

In [9]:
df_visit.dropna()

,Unnamed: 0,Entry Code,Feedback Date,Patient Age,Staff Rating,Speed Rating,Wait Time (minutes),Test Type,Review
0,0,1,2022-10-22,61,5,3,29,Urine Test,I couldn't have asked for better service from ...
1,1,2,2022-01-12,26,3,4,171,Biopsy,I'm indifferent about the service provided by ...
2,2,3,2022-04-06,53,3,5,176,Urine Test,My experience with the staff was neither good ...
3,3,4,2022-12-11,40,4,5,94,CT Scan,"I might consider returning for future tests, b..."
4,4,5,2022-10-31,96,2,1,165,Biopsy,"The service was poor, there are serious improv..."
...,...,...,...,...,...,...,...,...,...
19995,19995,19996,2022-09-01,34,3,2,128,CT Scan,"It was okay, the staff's performance was nothi..."
19996,19996,19997,2022-05-26,80,2,4,84,Blood Test,"I was quite disappointed, and there is a lot o..."
19997,19997,19998,2022-11-01,60,2,1,76,Ultrasound,"I was quite disappointed, and there is a lot o..."
19998,19998,19999,2022-10-09,62,1,5,16,Biopsy,There are no redeeming qualities about the ser...
19999,19999,20000,2022-02-16,13,5,1,86,Ultrasound,The staff's expertise and dedication made my v...

결측값 제거

근데 dropna 함부로 쓰면 안 됌..

In [10]:
df_visit = df_visit.dropna()
df_visit

,Unnamed: 0,Entry Code,Feedback Date,Patient Age,Staff Rating,Speed Rating,Wait Time (minutes),Test Type,Review
0,0,1,2022-10-22,61,5,3,29,Urine Test,I couldn't have asked for better service from ...
1,1,2,2022-01-12,26,3,4,171,Biopsy,I'm indifferent about the service provided by ...
2,2,3,2022-04-06,53,3,5,176,Urine Test,My experience with the staff was neither good ...
3,3,4,2022-12-11,40,4,5,94,CT Scan,"I might consider returning for future tests, b..."
4,4,5,2022-10-31,96,2,1,165,Biopsy,"The service was poor, there are serious improv..."
...,...,...,...,...,...,...,...,...,...
19995,19995,19996,2022-09-01,34,3,2,128,CT Scan,"It was okay, the staff's performance was nothi..."
19996,19996,19997,2022-05-26,80,2,4,84,Blood Test,"I was quite disappointed, and there is a lot o..."
19997,19997,19998,2022-11-01,60,2,1,76,Ultrasound,"I was quite disappointed, and there is a lot o..."
19998,19998,19999,2022-10-09,62,1,5,16,Biopsy,There are no redeeming qualities about the ser...
19999,19999,20000,2022-02-16,13,5,1,86,Ultrasound,The staff's expertise and dedication made my v...

In [11]:
df_visit.head()

,Unnamed: 0,Entry Code,Feedback Date,Patient Age,Staff Rating,Speed Rating,Wait Time (minutes),Test Type,Review
0,0,1,2022-10-22,61,5,3,29,Urine Test,I couldn't have asked for better service from ...
1,1,2,2022-01-12,26,3,4,171,Biopsy,I'm indifferent about the service provided by ...
2,2,3,2022-04-06,53,3,5,176,Urine Test,My experience with the staff was neither good ...
3,3,4,2022-12-11,40,4,5,94,CT Scan,"I might consider returning for future tests, b..."
4,4,5,2022-10-31,96,2,1,165,Biopsy,"The service was poor, there are serious improv..."

In [12]:
df_visit.head(20)

,Unnamed: 0,Entry Code,Feedback Date,Patient Age,Staff Rating,Speed Rating,Wait Time (minutes),Test Type,Review
0,0,1,2022-10-22,61,5,3,29,Urine Test,I couldn't have asked for better service from ...
1,1,2,2022-01-12,26,3,4,171,Biopsy,I'm indifferent about the service provided by ...
2,2,3,2022-04-06,53,3,5,176,Urine Test,My experience with the staff was neither good ...
3,3,4,2022-12-11,40,4,5,94,CT Scan,"I might consider returning for future tests, b..."
4,4,5,2022-10-31,96,2,1,165,Biopsy,"The service was poor, there are serious improv..."
5,5,6,2022-01-20,37,1,1,13,CT Scan,"The service was abysmal, and I'm extremely uns..."
6,6,7,2022-10-06,46,1,1,12,X-ray,"The service was abysmal, and I'm extremely uns..."
7,7,8,2022-03-10,55,5,4,167,MRI,I couldn't have asked for better service from ...
8,8,9,2022-11-14,19,5,5,125,CT Scan,"The staff was outstanding, I couldn't be happi..."
9,9,10,2022-01-28,84,2,1,125,Urine Test,"I had a below-average experience, with several..."
10,10,11,2022-06-25,35,2,1,174,MRI,"I had a below-average experience, with several..."
11,11,12,2022-08-04,36,1,2,100,CT Scan,"I had a nightmarish experience, and I'm highly..."
12,12,13,2022-10-28,84,4,4,167,Biopsy,A good but not great experience with the staff...
13,13,14,2022-04-07,67,2,1,64,Blood Test,"I was quite disappointed, and there is a lot o..."
14,14,15,2022-03-03,27,2,5,92,X-ray,"I was quite disappointed, and there is a lot o..."
15,15,16,2022-08-12,90,1,3,91,CT Scan,"I'll never return to this lab, and I'm sharing..."
16,16,17,2022-02-26,65,5,2,161,Ultrasound,I'm very impressed with the quality of service...
17,17,18,2022-03-06,38,3,4,65,Ultrasound,The staff's service fell in the middle ground;...
18,18,19,2022-06-26,66,2,1,15,Blood Test,"A disappointing experience, with many areas re..."
19,19,20,2022-11-22,39,1,2,130,Ultrasound,"The service was abysmal, and I'm extremely uns..."

In [13]:
df_visit.rename(columns={'Registration': 'Registration_minutes'})

,Unnamed: 0,Entry Code,Feedback Date,Patient Age,Staff Rating,Speed Rating,Wait Time (minutes),Test Type,Review
0,0,1,2022-10-22,61,5,3,29,Urine Test,I couldn't have asked for better service from ...
1,1,2,2022-01-12,26,3,4,171,Biopsy,I'm indifferent about the service provided by ...
2,2,3,2022-04-06,53,3,5,176,Urine Test,My experience with the staff was neither good ...
3,3,4,2022-12-11,40,4,5,94,CT Scan,"I might consider returning for future tests, b..."
4,4,5,2022-10-31,96,2,1,165,Biopsy,"The service was poor, there are serious improv..."
...,...,...,...,...,...,...,...,...,...
19995,19995,19996,2022-09-01,34,3,2,128,CT Scan,"It was okay, the staff's performance was nothi..."
19996,19996,19997,2022-05-26,80,2,4,84,Blood Test,"I was quite disappointed, and there is a lot o..."
19997,19997,19998,2022-11-01,60,2,1,76,Ultrasound,"I was quite disappointed, and there is a lot o..."
19998,19998,19999,2022-10-09,62,1,5,16,Biopsy,There are no redeeming qualities about the ser...
19999,19999,20000,2022-02-16,13,5,1,86,Ultrasound,The staff's expertise and dedication made my v...

열 이름 변경

In [14]:
df_visit.head()

,Unnamed: 0,Entry Code,Feedback Date,Patient Age,Staff Rating,Speed Rating,Wait Time (minutes),Test Type,Review
0,0,1,2022-10-22,61,5,3,29,Urine Test,I couldn't have asked for better service from ...
1,1,2,2022-01-12,26,3,4,171,Biopsy,I'm indifferent about the service provided by ...
2,2,3,2022-04-06,53,3,5,176,Urine Test,My experience with the staff was neither good ...
3,3,4,2022-12-11,40,4,5,94,CT Scan,"I might consider returning for future tests, b..."
4,4,5,2022-10-31,96,2,1,165,Biopsy,"The service was poor, there are serious improv..."

In [15]:
df_visit.rename(columns={'Registration': 'Registration_minutes'},inplace=True)

`inplce`로 원본인 df_visit 자체를 변경할 수 있는데

원본 데이터를 건드는 것이기 때문에 신중히 처리할 것

In [ ]:
df_visit.head()

,Visit_Date,Patient_ID,Age,Gender,Diagnosis,Has_Insurance,Postcode,Total_Cost,Registration_minutes,Nursing,Laboratory,Consultation,Pharmacy
0,2020-05-06,688923,68,Female,Diabetes,True,20006,2274.0,33,105,101,28,112
1,2018-08-04,886361,62,Female,Urinary Tract Infection,False,20005,3430.0,46,75,84,102,36
2,2021-04-10,464823,70,Female,Upper Respiratory Tract Infection,True,10003,1836.0,107,81,5,77,36
3,2021-10-01,655214,8,Female,Upper Respiratory Tract Infection,False,10006,3250.0,66,31,101,35,92
4,2018-04-30,454666,24,Male,Malaria,True,10006,2262.0,68,55,60,90,104

In [ ]:
column_mapping = {'Nursing':'Nursing_minutes','Laboratory': 'Laboratory_minutes','Consultation':'Consulation_minutes','Pharmacy': 'Pharmacy_minutes'}

In [ ]:
df_visit.rename(columns=column_mapping,inplace=True)
df_visit

,Visit_Date,Patient_ID,Age,Gender,Diagnosis,Has_Insurance,Postcode,Total_Cost,Registration_minutes,Nursing_minutes,Laboratory_minutes,Consulation_minutes,Pharmacy_minutes
0,2020-05-06,688923,68,Female,Diabetes,True,20006,2274.0,33,105,101,28,112
1,2018-08-04,886361,62,Female,Urinary Tract Infection,False,20005,3430.0,46,75,84,102,36
2,2021-04-10,464823,70,Female,Upper Respiratory Tract Infection,True,10003,1836.0,107,81,5,77,36
3,2021-10-01,655214,8,Female,Upper Respiratory Tract Infection,False,10006,3250.0,66,31,101,35,92
4,2018-04-30,454666,24,Male,Malaria,True,10006,2262.0,68,55,60,90,104
...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2018-09-30,385435,9,Male,Abdominal pain,True,10004,1458.0,80,52,11,42,58
999996,2020-05-08,117261,29,Female,Urinary Tract Infection,True,20009,1836.0,59,57,64,66,60
999997,2019-12-31,594613,39,Female,Upper Respiratory Tract Infection,False,10001,1930.0,10,14,69,14,86
999998,2019-11-04,152179,39,Female,Malaria,False,20006,3950.0,119,52,60,94,70
999999,2019-05-11,370584,76,Female,Malaria,False,20012,3500.0,34,90,29,97,100